<nav id="nav" role="navigation">
  <div class="logo">
    <a href="{{ "/" | relative_url }}"><img src="{{ "/assets/images/logo.svg" | relative_url }}"></a>
  </div>

  
    <span class='title'>Components</span>
    <ul>
    
      <li class='page-1-f3r9dzqtgbfbqmlaeovrdt {% if page.id == 'page-1-f3r9dzqtgbfbqmlaeovrdt' %} active{% endif%}'>
        <a href="{{site.baseurl}}/designdoc/pages/page-1-f3r9dzqtgbfbqmlaeovrdt">
          Page 1
          
        </a>
      </li>
    
    </ul>
  
</nav>